/* regole generali css */
*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body{
  font-family: 'PT Sans Narrow', sans-serif;
}


.row::after{
  content: "";
  display: table;
  clear: both;
}

/* header */

/* prima sezione del header */
.contenitoreextra{
  position: fixed;
  width: 100%;
  height: 50px;
  z-index: 80;
  top: 0;

}

.contenitoreh{
  background: 	rgb(242, 242, 242);
  height: 60px;
  border-bottom: 1px solid black;
}

.division1{
  height: 60px;
  width: 30%;
  float: left;
  margin-left: 10%;
}


.division2{
  height: 60px;
  width: 50%;
  float: left;
  margin-right: 10%;
  /* position: relative; */
}

/* .language{
  border: 0px;
  background-color: rgb(242, 242, 242) ;
} */

#dir > li{
  display: inline-block;
  margin: 0;
  line-height: 55px;
}


.fila{
  /* margin-left: 60%; */
  /* position: absolute; */
  line-height: 50px;
  top: 0px;
  right:0;
  float: right;
}

.fila > li{
  margin: 0;
  display: inline-block;
}

#dir li a{
  color: black;
  padding: 0 5px;
  /* margin: 0 5px; */
  /* border-left: 1px solid black; */
}

a{
  text-decoration: none;
  color: inherit;
}

#login{
  background-color: white;
  border: 1px solid rgb(255, 127, 80);
  color: orange;
  margin: 0 10px;
  border-radius: 5px;
  padding: 4px 8px 4px 8px;
}

.orange{
  background-color: rgb(255, 127, 80);
  border: 1px solid orange;
  color: white;
  /* margin: 10px 10px 0 0; */
  border-radius: 5px;
  padding: 4px 5px 4px 5px;
}

/* seconda sezione del header */

.containernav{
  height: 100px;
  background: white;
}

.nav1{
  height: 100px;
  width: 20%;
  float: left;
  margin-left: 10%;
}

.nav2{
  height: 100px;
  width: 60%;
  float: left;
  margin-right: 10%;
  /* position: relative; */
}

.nav1 a img{
  margin: 35px 0;
}

#space li:last-child{
  padding-right: 0;
}


#space > li{
  display: inline-block;
  padding:0 10px;
  line-height: 100px;
}


#space{
  /* margin-left: 25%; */
  /* position: absolute; */
  float: right;
}

.nav2 ul li a i{
  padding-left: 10px;
}

/* .tech{
  border: 0px;
} */


/* 3 sezione del header */

#containercover{
  background-image: url(../img/jumbotron.png);
  background-size: cover;
  background-repeat: no-repeat;
  height: 750px;
  margin-top: 150px;
}

.text-image{
  height: 650px;
  width: 30%;
  margin-left: 10%;
}

.text-image > h1{
  font-size: 50px;
  line-height: 1.1;
  padding: 60px 0 10px 0;
}
.text-image > p{
  text-align: left;
  line-height: 1.6;
  font-size: 20px;
  margin-top: 10px;
}

.text-image > .orange{
  background-color: rgb(255, 127, 80);
  border: 1px solid orange;
  color: white;
  margin-top: 30px;
  margin-right: 0;
  border-radius: 5px;
  padding: 20px 30px;
}

div > .grow{
  text-align: left;
  line-height: 1.6;
  font-size: 15px;
  margin-top: 40px;
}

.block-turquoise{
  background-color: rgb(173, 235, 233);
  height: 100px;
  border-top: 3px solid black;
  border-bottom: 3px solid black;
}

/* main */

/* sottotitolo */
.lightgrey{
 background-color: rgb(242, 242, 242);
}
.powerful{
  height: 380px;
  margin: 0 10%;
  /* padding-top: 30px; */
}

.powerful > img{
  height: 200px;
  width: 250px;;
  margin: 0 35%;
  padding: 0 20px;
  padding-top: 30px;
  /* padding: 10px 0; */
}


.text-powerful{
  text-align: center;
  margin: 0 20%;
}

.text-powerful > h2{
  font-size: 45px;
  /* padding: 10px 0; */
}

.text-powerful > p{
  line-height: 1.6;
  font-size: 15px;
  padding: 10px 0;
}


/* row due blocchi */

.row{
  border-radius: 10px;
  margin: 0 10%;
}


.sezione1{
  border-top-left-radius: 10px;
  border-bottom-left-radius: 10px;

}

.sezione2{
  border-top-right-radius: 10px;
  border-bottom-right-radius: 10px;
}


.sezione1{
  width: 30%;
  height: 300px;
  float: left;
  background-color: white;
  position: relative;
}


.sezione2{
  width: 70%;
  height: 300px;
  float: left;
  background-color: white;
}

/* sezione 1 */
.sezione1 > img{
  width: 150px;
  height: 150px;
  position: absolute;
  right: 20px;
  top: 20px;
  /* margin-left: 50%;
  margin-top: 30px; */
}

.sezione1 > .orange{
  background-color: rgb(255, 127, 80);
  border: 1px solid orange;
  color: white;
  position: absolute;
  right: 20px;
  bottom: 60px;
  border-radius: 5px;
  padding: 20px 40px;
  /* margin-left: 50%;
  margin-top: 0px;
  margin-right: 0; */
}

/* sezione 2 */
.space{
  height: 100px;
  margin-top: 50px;
  margin-left: 50px;
  position: relative;
  /* margin-right: 200px; */
}

.space > h3{
  padding:  10px 0 20px 0;
  font-size: 25px;
}

.space > p{
  position: absolute;
  left: 0;
  margin-right: 150px;
}


#popolar{
  height: auto;
  /* margin-left: 50px; */
  margin-top: 25px;
  margin-right: 120px;
  position: relative;
}

.quadro{
  height: 50px;
  border: 0;
}

.quadro.uno{
  width:35%;
}

.quadro.uno > h3{
  font-size: 20px;
  line-height: 40px;
  position: absolute;
  left: 50px;
  top: 0px;
}

.quadro.dos{
  width: 55%;
  background: white;
  position: absolute;
  top:0;
  right: 0px;
}

.quadro.dos > hr{
  margin: 20px 0;
  border: 1px grove black;
  background-color: black;
}

/* sezione check */

#checklist{
  height: 50px;
  /* margin-left: 50px; */
  margin: 0 0 10px 50px;

}

#lista > li{
  display: inline-block;
  line-height: 40px;
}


.check{
  border-radius: 50%;
  background-color: rgb(255, 127, 80);
  padding: 2px 4px;
  color: white;
  font-size: 10px;
}

li > .option{
  margin: 0 15px;
}


/* row 3 colonne */

.row{
  border-radius: 10px;
  margin: 0 10%;
}

.colonna{
  height: 600px;
  border: 0;
  width: calc(100% / 3 - 60px);
  float: left;
  margin-top: 50px;
  background-color: white;
  border-radius: 10px;
}

.center{
  margin: 50px 90px 50px 90px;
}

.internotop, .internobottom{
 margin: 0 30px;
}

.internotop{
  height:330px;
  border-bottom: 1px solid black;
  /* margin: 0 10px; */
}

.internobottom{
  height: 260px;
  margin: 0 10px;
}

.internotop > img{
  width: 100%;
  height: 100px;
  margin-top: 20px;
}

 .mark{
  padding: 10px 0;
  text-align: center;
  font-size: 25px;
 }

.line{
  text-align: center;
  font-size: 15px;
  padding: 10px 0;
 }

.internobottom > h4{
  text-align: center;
  margin-top: 10px ;
  padding: 10px 0;
  font-size: 20px;
}
.internobottom > ul{
  list-style-type: none;
}

.internobottom > .orange{
  background-color: rgb(255, 127, 80);
  border: 1px solid orange;
  color: white;
  border-radius: 5px;
  padding: 20px 20px;
  margin: 0 30%;
  margin-top: 20px;
}


/* sezione tabella numeri/dati */

#colort{
  background: linear-gradient(to right, rgb(37, 165, 167), rgb(73, 202, 168))  ;
  height: 800px;
}

#onlytext{
  height: 250px;
  color: #fff;
  margin: 0 10%;
}

#onlytext > h2{
  font-size: 45px;
  text-align: center;
  padding: 40px 30px 10px 30px;
}

#onlytext > p{
  font-size: 20px;
  text-align: center;
  padding: 20px 10px;
}


/* tabella */

#linea1{
  margin-top: 50px;
}

.square{
  height: 200px;
  border:1px solid white;
  border-top: 0;
  width: 25%;
  float: left;
}

.square > img{
  display: block;
  margin-left: auto;
  margin-right: auto;
  margin-top: 20px;
  margin-bottom: 10px;
}

.number{
  font-size: 40px;
  margin: 10px 25px 15px 25px;
  text-align: center;
  color: #fff;
}


.square > p{
  margin: 10px 25px 15px 25px;
  text-align: center;
  color: #fff;
}


.square.first{
  border-left: transparent;
}

.square.last{
  border-right: transparent;
}


#linea2{
  border-bottom: 50px;
}

.square.uno {
  border-left: transparent;
}

.square.quarto{
  border-right: transparent;
}

.square.uno, .square.due, .square.tre, .square.quarto{
  border-bottom: 0;
}


/* other section */

/* 1 zona */
.spazio{
  padding: 20px 0;
  text-align: center;

}
.parte1{
  height: 220px;
  width: 35%;
  float: left;
}

.parte2{
  height: 220px;
  width: 65%;
  float: left;
}

.parte1 > h3{
  font-size: 50px;
  margin-bottom: 30px;
  /* text-align: center; */
  /* margin: 0 20px;
  padding-right: 60px; */
}

.parte1 > p{
  font-size: 20px;
  margin: 0 auto;
  width: 50%;
  /* text-align: left; */
  /* margin-top: 20px; */
}

.parte2 img{
  padding: 0 15px;
  max-width: 20%;
  margin: 2% 2%;
  height: auto;
  vertical-align: middle;
}


/* 2 zona */

.zona1{
  height: 400px;
  float: left;
  width: 40%;
  text-align: left;
}

.zona2{
  height: 400px;
  float: left;
  width: 60%;
  text-align: right;
}

.zona1 > .orange{
  background-color: rgb(255, 127, 80);
  color: white;
  margin: 20px 0;
  border-radius: 5px;
  padding: 20px 30px;
}

.zona1 > h2{
  font-size: 35px;
  width: 80%;
  margin-bottom: 30px;
}

.zona1 > p{
  /* padding: 20px 10px 20px 0px;
  padding-right: 100px; */
  text-align: left;
  font-size: 15px;
  width: 80%;

}

.zona2 > img{
  width: auto;
  height: 350px;
  /* object-fit: contain;
  margin-left: 35%;
  padding-bottom: 20px; */
}


/* parte del footer */

.footer{
  background-color:		rgb(42, 77, 111);
}

.footer  .square{
  height: 320px;
  border-top: 0;
  width: 25%;
  float: left;
}

.square > h3{
  padding: 20px 0;
  color: white;
}

.square > ul{
  list-style-type: none;
}

.square > ul li{
  padding-top: 10px;
  font-size: 15px;
  color: white;
}

.buttongrey{
  background: rgb(245, 248, 250);
  padding: 8px 5px;
  font-size: 15px;
  border-radius: 5px;
  line-height: 50px;
  color: rgb(42, 77, 111);
}

#icons i{
  color: white;
  margin: 20px 0;
  margin-right: 15px;
}

/* #icons i:first-child{
  margin-left: 0;
} */

/* inizia il footer */

.footer .square{
  border: 0;
}

.footer .linea-languages{
  height: 100px;
  border-bottom: 1px solid white;
  margin: 0 10%;
}

.linea-languages > ul{
  list-style-type: none;
  padding-top: 60px;
  text-align: center;
  /* margin: 0 10%; */
  /* line-height: 80px; */
}

#languages > li{
  display: inline-block;
  margin: 0 10px;
  font-size: 20px;
  color: white;
}

.legal{
  float: left;
  height: 100px;
  width: 50%;
  position: relative;
  color: white;
}

.legal a img{
  padding-top: 20px;
}

.legal > ul{
  list-style-type: none;
  position: absolute;
  top: 20px;
  right: 10px;
}

#unique > li{
  display: inline-block;
  font-size: 20px;
  margin-left: 20px;
}
